/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/public/ebooks/*
/public/assets/*
/public/assignments/*
/public/chapters/*
/public/classes/*
/public/images/*
/public/lesson_resources/*
/public/lessons/*
/public/material_resources/*
/public/materials/*
/public/resource_files/*
/public/resource_images/*
/public/resources/*
/public/stages/*
/public/students/*
/public/teacher_resources/*
/public/teachers/*
/public/units/*
/vendor
/.github/workflows
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/ebooks/STEAM Scouts Book.zip
